.loading-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.purple-line-break {
    background-color: #8C52FF;
    color: #8C52FF;
    height: 4px;
}

.product-item-homepage:hover {
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color];
 */
    box-shadow: 0 0 10px 2px rgb(180, 180, 180);
    /* Add a black box-shadow effect */
    border-radius: 5px;
    /* Add rounded corners */
    transition: box-shadow 0.3s ease;
}

.product-page-container {
    /* !important is used to override the default bootstrap css styling */
    margin-top: 25px;
    width: 70% !important;
    max-width: 2000px !important;
}

.product-img-carousel-container {
    width: 80px;
    margin-right: 10px;
    /* overflow-y: scroll; */
}

.product-img-carousel {
    height: 80px;
}

.product-img-abs {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}


.product-img-array::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.product-img-thumbnail {
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.5;
}

.product-img-thumbnail:hover {
    opacity: 1;
    cursor: pointer;
}

.product-img-thumbnail-active {
    opacity: 1;
    border: 1px solid black;
}

.cart-top-button .cart-font-awesome {
    margin: 0px 5px;
}

.product-page-add-to-cart {
    margin: 5px auto;
    width: 99%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.product-page-add-to-cart:hover {
    background-color: gray;
    width: 100%;
    cursor: pointer;
}

.product-page-add-to-collection {
    margin: 5px auto;
    width: 99%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    color: black;
}

.product-page-add-to-collection:hover {
    background-color: lightgray;
    cursor: pointer;
}

.circle-product-carousel-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product-gray-background {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
}

.blue-hyperlink-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.black-normal-text {
    color: black;
    text-decoration: none;
}

.no-overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-carousel-nav {
    width: 150px;
}

.line-between-reviews {
    height: 1px;
    width: 95%;
    background-color: lightgray;
    margin: 8px 0;
}

.product-page-toggle-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 20px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.product-page-toggle-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.see-more-less-button {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border: none;
}

.see-more-less-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.circle-review-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.circle-review-nav-blocked {
    opacity: 0.5;
    pointer-events: none;
}

/* Cart */
.cart-container {
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 15px;
}

.cart-remove-save-btn {
    height: 40px;
    color: #4314a2;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: white;
}

.cart-remove-save-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}

.product-info-icon-align {
    width: 35px;
    display: inline-block;
}

.icon-text-div {
    margin-bottom: 10px;
    display: flex;
}

.icon-margin-align {
    width: 35px;
}

.outer-buttons-div .cart-top-button {
    border: none;
    margin-right: 20px;
}

.cart-header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-awesome-margin {
    margin-right: 10px;
}

/* Product */
.product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 767px) {
    .order-item-price-review {
        text-align: center;
    }

    /* Add more styles for small screens here */
}

/* Define styles for screens with a minimum width of 769 pixels (medium screens and above) */
@media (min-width: 768px) {
    .order-item-price-review {
        text-align: right;
    }

    /* Add more styles for medium screens and above here */
}

/* Navbar */
.selected-navbar-background {
    background-color: #8C52FF;
}

.selected-navbar-background-cart {
    background-color: #d8d8d8;
}

.navbar-hover:hover {
    background-color: #d8d8d8;
}



/* Navbar Search */
.navbar-search-form {
    display: flex;
    width: 100%;
    padding: 0px;
}

.navbar-search-form .navbar-search-button {
    background-color: #8C52FF;
    border: 1px #8C52FF solid;
    border-radius: 50%;
}

/* Admin */
.post-product-form .post-product-admin-label {
    margin: 20px auto 5px auto;
    /* color: #8C52FF; */
}

.post-product-admin-label h4 {
    margin-bottom: 0px;
}