/* GENERAL PAGE */
html {
    font-size: 12px;
}

body {
    padding-bottom: 1rem;
}

.loading-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.purple-line-break {
    background-color: #8C52FF;
    color: #8C52FF;
    height: 4px;
}

.blue-hyperlink-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.black-normal-text {
    color: black;
    text-decoration: none;
}

.btn-border-none {
    border: none !important;
}

.ml-3 {
    margin-left: 1rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-0 {
    margin-bottom: 0;
}

.bold-text {
    font-weight: bold;
}

.no-overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ---------------------------- */

/* HOME PAGE */
.product-item-homepage:hover {
    box-shadow: 0 0 10px 2px rgb(180, 180, 180);
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.h3-about-page {
    color: #8C52FF;
    margin-top: 2rem;
}

.h3-about-page-top {
    color: #8C52FF;
    margin-top: 0;
}

.h2-about-m-top {
    margin-top: 6rem;
}



/* ---------------------------- */

/* SINGLE PRODUCT PAGE */
.product-page-toggle-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}

.product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-page-add-button {
    margin: 0.5rem auto;
    width: 99%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.product-page-add-to-cart {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.product-page-add-to-cart:hover {
    background-color: gray;
    width: 100%;
    cursor: pointer;
}

.product-page-add-to-collection {
    background-color: white;
    color: black;
}

.product-page-add-to-collection:hover {
    background-color: lightgray;
    cursor: pointer;
}

.see-more-less-button {
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: white;
    color: rgb(125, 125, 125);
    border: none;
}

.see-more-less-button:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.line-between-reviews {
    height: 1px;
    width: 95%;
    background-color: lightgray;
    margin: 1rem 0;
}



/* ---------------------------- */

/* PRODUCT IMAGE CAROUSEL (SINGLE PRODUCT PAGE) */
.product-img-carousel-container {
    width: 4rem;
    margin-right: 1rem;
}

.product-img-abs {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.product-img-array::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.product-img-thumbnail {
    margin-bottom: 1rem;
    width: 100%;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
    opacity: 0.5;
}

.product-img-thumbnail:hover {
    opacity: 1;
    cursor: pointer;
}

.product-img-thumbnail-active {
    opacity: 1;
    border: 1px solid black;
}

.circle-product-carousel-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.no-carousel-nav {
    width: 10rem;
}

@media (max-width: 786px) {
    .product-img-carousel-container {
        display: none;
    }

    .circle-product-carousel-nav {
        margin: 0 0.5rem;
    }
}



/* ---------------------------- */

/* NAVBAR */
.navbar-admin-text {
    color: white !important;
}

.navbar-brand-width {
    width: 4rem;
}

.selected-navbar-background {
    background-color: #8C52FF;
}

.selected-navbar-background-cart {
    background-color: #d8d8d8;
}

.navbar-hover:hover {
    background-color: #d8d8d8;
}

.navbar-search-form {
    display: flex;
    width: 100%;
    padding: 0;
}

.navbar-search-form .navbar-search-button {
    background-color: #8C52FF;
    border: 1px #8C52FF solid;
    border-radius: 50%;
}

.navbar-cart-red-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;
}

.navbar-cart-white-num {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

@media (max-width: 576px) {
    .navbar-fetsy-logo {
        display: none;
    }
}



/* ---------------------------- */

/* REVIEWS */
.star-reviews-bracket {
    font-size: 2rem;
}

.reviews-span-margin {
    margin: 1rem 0;
}

.star-reviews-bracket {
    font-size: 2rem;
    margin: 0 1rem;
}

.star-reviews-rating {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.star-reviews-num {
    font-size: 1.5rem;
    margin-left: 1rem;
}

@media (max-width: 1350px) {
    .single-product-stars-reviews {
        flex-direction: column;
    }

    .star-reviews-bracket {
        display: none;
    }

    .star-reviews-rating {
        margin-right: 0.5rem;
    }

    .star-reviews-num {
        margin-left: 0;
    }
}

.circle-review-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0 1rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
}

.circle-review-nav-blocked {
    opacity: 0.5;
    pointer-events: none;
}



/* ---------------------------- */

/* CART AND PRODUCT SUMMARY VIEW */
.cart-container {
    margin: 2rem auto;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.product-summary-fxn-btn {
    height: 3rem;
    color: #4314a2;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    background-color: white;
}

.product-summary-fxn-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}

.product-info-icon-align {
    width: 2rem;
}

.icon-text-div {
    margin-bottom: 1rem;
    display: flex;
}

.icon-margin-align {
    width: 3rem;
}

.cart-header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-top-button {
    margin-right: 2rem;
}

.top-buttons-div-outer .cart-top-button {
    border: none;
}

.cart-top-button .cart-font-awesome {
    margin: 0 0.5rem;
}

.gray-line-break {
    background-color: #ababab;
    color: #ababab;
    height: 2px;
}

.product-gray-background {
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    padding: 1rem 1rem 0.25rem;
}

.product-page-toggle-button {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    margin: 2rem 0 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2.5rem;
}

.product-page-toggle-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

@media (max-width: 495px) {
    .top-buttons-div-outer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cart-top-button {
        margin: 0 0 1rem 0;
    }
}


@media (max-width: 576px) {
    .product-price-margin-top {
        margin-top: 1rem;
    }
}

@media (max-width: 1000px) {
    .review-summary-lg {
        display: block;
    }

    .review-summary-xl {
        display: none;
    }
}

@media (min-width: 1001px) {
    .review-summary-lg {
        display: none;
    }

    .review-summary-xl {
        display: block;
    }
}

@media (max-width: 767px) {
    .product-summary-price-align {
        text-align: center;
    }
}


@media (min-width: 768px) {
    .product-summary-price-align {
        text-align: right;
    }
}



/* ---------------------------- */

/* CHECKOUT */
.checkout-num-width {
    max-width: 5rem;
}

.checkout-step-number {
    color: #8C52FF;
    font-weight: bold;
}

.checkout-line-break-margin {
    margin-bottom: 2rem;
}



/* ---------------------------- */

/* ADMIN */
.post-product-form .post-product-admin-label {
    margin: 1.5rem auto 0.25rem;
}

.post-product-admin-label h4 {
    margin-bottom: 0;
}

.h1-admin {
    text-align: center;
    margin-top: 2rem;
}

.image-upload-border-admin {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
    margin: 1rem 2rem 1rem 0;
    position: relative;
    background-color: #eee;
}