/* GENERAL PAGE */
html {
    font-size: 14px;
}

body {
    font-size: 1rem;
    margin: 1rem;
}

.loading-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.purple-line-break {
    background-color: #8C52FF;
    color: #8C52FF;
    height: 4px;
}


/* ---------------------------- */

/* SINGLE PRODUCT PAGE */
.product-page-toggle-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}






/* ---------------------------- */

/* PRODUCT IMAGE CAROUSEL (SINGLE PRODUCT PAGE */
.product-img-carousel-container {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.product-img-abs {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.product-img-array::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.product-img-thumbnail {
    margin-bottom: 1rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    opacity: 0.5;
}

.product-img-thumbnail:hover {
    opacity: 1;
    cursor: pointer;
}

.product-img-thumbnail-active {
    opacity: 1;
    border: 1px solid black;
}

@media (max-width: 786px) {
    .product-img-carousel-container {
        display: none;
    }
}


/* ---------------------------- */

/* NAVBAR */
@media (max-width: 576px) {
    .navbar-fetsy-logo {
        display: none;
    }
}


/* ---------------------------- */

/* REVIEWS */
.star-reviews-bracket {
    font-size: 2rem;
}

.reviews-span-margin {
    margin: 1rem 0;
}

.star-reviews-bracket {
    font-size: 2rem;
    margin: 0 1rem;
}

.star-reviews-rating {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.star-reviews-num {
    font-size: 1.5rem;
    margin-left: 1rem;
}

@media (max-width: 1350px) {
    .single-product-stars-reviews {
        flex-direction: column;
    }

    .star-reviews-bracket {
        display: none;
    }

    .star-reviews-rating {
        margin-right: 0.5rem;
    }

    .star-reviews-num {
        margin-left: 0;
    }
}


/* ---------------------------- */











.checkout-line-break-margin {
    margin-bottom: 20px;
}

.checkout-step-number {
    color: #8C52FF;
    font-weight: bold;
}

.product-item-homepage:hover {
    box-shadow: 0 0 10px 2px rgb(180, 180, 180);
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}




.cart-top-button .cart-font-awesome {
    margin: 0px 5px;
}

.product-page-add-to-cart {
    margin: 5px auto;
    width: 99%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.product-page-add-to-cart:hover {
    background-color: gray;
    width: 100%;
    cursor: pointer;
}

.product-page-add-to-collection {
    margin: 5px auto;
    width: 99%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    color: black;
}

.product-page-add-to-collection:hover {
    background-color: lightgray;
    cursor: pointer;
}

.right-col-toggle-text-align {
    margin-left: 20px
}

.circle-product-carousel-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product-gray-background {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
}

.blue-hyperlink-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.black-normal-text {
    color: black;
    text-decoration: none;
}

.no-overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-carousel-nav {
    width: 150px;
}

.line-between-reviews {
    height: 1px;
    width: 95%;
    background-color: lightgray;
    margin: 8px 0;
}





.product-page-toggle-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 20px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.product-page-toggle-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.see-more-less-button {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border: none;
}

.see-more-less-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.circle-review-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.circle-review-nav-blocked {
    opacity: 0.5;
    pointer-events: none;
}

/* Cart */
.cart-container {
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 15px;
}

.cart-remove-save-btn {
    height: 40px;
    color: #4314a2;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: white;
}

.cart-remove-save-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}

.product-info-icon-align {
    width: 35px;
    display: inline-block;
}

.icon-text-div {
    margin-bottom: 10px;
    display: flex;
}

.icon-margin-align {
    width: 35px;
}

.outer-buttons-div .cart-top-button {
    border: none;
    margin-right: 20px;
}

.cart-header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-awesome-margin {
    margin-right: 10px;
}

/* Product */
.product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 767px) {
    .order-item-price-review {
        text-align: center;
    }

    /* Add more styles for small screens here */
}



/* Define styles for screens with a minimum width of 769 pixels (medium screens and above) */
@media (min-width: 768px) {
    .order-item-price-review {
        text-align: right;
    }

    /* Add more styles for medium screens and above here */
}

/* Navbar */
.selected-navbar-background {
    background-color: #8C52FF;
}

.selected-navbar-background-cart {
    background-color: #d8d8d8;
}

.navbar-hover:hover {
    background-color: #d8d8d8;
}



/* Navbar Search */
.navbar-search-form {
    display: flex;
    width: 100%;
    padding: 0px;
}

.navbar-search-form .navbar-search-button {
    background-color: #8C52FF;
    border: 1px #8C52FF solid;
    border-radius: 50%;
}

/* Admin */
.post-product-form .post-product-admin-label {
    margin: 20px auto 5px auto;
    /* color: #8C52FF; */
}

.post-product-admin-label h4 {
    margin-bottom: 0px;
}

.h1-admin {
    text-align: center;
    margin-top: 20px;
}

.image-upload-border-admin {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px 20px 10px 0px;
    position: relative;
    background-color: #eee;
}

.h3-about-page {
    color: #8C52FF;
    margin-top: 30px;
}